<include file="Public/base" />
<style type="text/css">
table tr td.skin {
    background-color: #f2f2f2;
}
.title{
    font-size: 16px !important;
    font-weight: bolder;
    color: #01AAED;
}
</style>

<body>
    <div class="x-body layui-anim layui-anim-up">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend class="title">设备信息</legend>
</fieldset>
<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td class="skin">设备编号</td>
                <td>V-UC-A-ZD</td>
                <td class="skin">设备型号</td>
                <td>JV70</td>
            </tr>
            <tr>
                <td class="skin">设备类型</td>
                <td>挖掘机</td>
                <td class="skin">注册日期</td>
                <td>2018-04-12</td>
            </tr>
            <tr>
                <td class="skin">出厂日期</td>
                <td>2018-04-12</td>
                <td class="skin">机具作业宽度</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="skin">通信类型</td>
                <td>485</td>
                <td class="skin">发动机号</td>
                <td>JD7</td>
            </tr>
            <tr>
                <td class="skin">车架号</td>
                <td>V-FKM-MNJJF-F</td>
                <td class="skin">备注</td>
                <td>JD7</td>
            </tr>
        </tbody>
    </table>
</div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">GNSS信息</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td class="skin">GNSS编号</td>
                        <td>0151018040001</td>
                        <td class="skin">使用状态</td>
                        <td>正常</td>
                    </tr>
                    <tr>
                        <td class="skin">GNSS供应商</td>
                        <td>SZYA</td>
                        <td class="skin">GNSS型号</td>
                        <td>V-UC-A(STD)</td>
                    </tr>
                    <tr>
                        <td class="skin">安装人员</td>
                        <td>系统管理员   </td>
                        <td class="skin">安装日期</td>
                        <td>2018-04-12</td>
                    </tr>
                    <tr>
                        <td class="skin">备注信息</td>
                        <td></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">SIM卡信息</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td class="skin">SIM卡号</td>
                        <td>0151018040001</td>
                        <td class="skin">使用状态</td>
                        <td>正常</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">单位信息</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td class="skin">单位名称</td>
                        <td>smart</td>
                        <td class="skin">联系人</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="skin">联系电话</td>
                        <td>17475454654</td>
                        <td class="skin">联系地址</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="skin">备注</td>
                        <td>smart</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">客户信息</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td class="skin">客户姓名</td>
                        <td>0151018040001</td>
                        <td class="skin">联系电话</td>
                        <td>正常</td>
                    </tr>
                     <tr>
                        <td class="skin">备注</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>