<include file="Public/base" />
<style type="text/css">
table tr td.skin {
    background-color: #f2f2f2;
}

.notice {
    padding: 10px 0;
}

.canvas {
    width: 100%;
    height: 300px;
    background: #eee;
    display: flex;
    flex-wrap: wrap;
}

.canvas .canvas-item {
    width: 25%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.param {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.param-item {
    width: 18%;
    margin-right: 7%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.param-item span {
    flex-grow: 1;
    text-align: right;
}

.data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.title {
    font-size: 16px !important;
    font-weight: bolder;
    color: #01AAED;
}
</style>

<body>
    <div class="x-body layui-anim layui-anim-up">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">设备资料</legend>
            <div class="param">
                <div class="param-item"><span>设备编号：</span>
                    <button class="layui-btn layui-btn-xs">V-UC-A-ZD</button>
                </div>
                <div class="param-item"><span>GNSS终端编号：</span>
                    <button class="layui-btn layui-btn-xs">0151018040001</button>
                </div>
                <div class="param-item"><span>SIM卡号：</span>
                    <button class="layui-btn layui-btn-xs">1440045016993</button>
                </div>
                <div class="param-item"><span>设备通信类型：</span>
                    <button class="layui-btn layui-btn-xs">485</button>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">执行指令</legend>
            <div class="param layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">指令类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="控制命令">
                        <input type="radio" name="sex" value="女" title="永久解锁" >
                        <input type="radio" name="sex" value="女" title="解除永久解锁" >
                        <input type="radio" name="sex" value="女" title="IP及端口查询" >
                        <input type="radio" name="sex" value="女" title="IP及端口设置" >
                        <input type="radio" name="sex" value="女" title="清除报警" checked>
                        <input type="radio" name="sex" value="女" title="自动回报设置" >
                        <input type="radio" name="sex" value="女" title="终端重启" >
                    </div>
                </div>
            </div>
            <button class="layui-btn layui-btn-sm" style="margin-left: 30px;">执行指令</button>（指令执行超时时间为30秒）
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend class="title">执行结果</legend>
            <div class="param layui-form">
                执行结果
            </div>
        </fieldset>
    </div>
</body>

</html>