<include file="Public/base" />

<body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>设备驱动
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="name" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>控制指令项
                </label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="控制命令">
                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="定时输出">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="清除报警">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="IP查询">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="解除永久解锁">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="永久解锁">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="指令透传">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="终端重启">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="IP设置">
                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="自动回报设置">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    备注
                </label>
                <div class="layui-input-inline">
                    <textarea class="layui-textarea" name="content" lay-verify="content" ></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确定
                </button>
            </div>
        </form>
    </div>
    <script>
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            name: function(value) {
                if (value.length < 2 || value.length > 8) {
                    return '菜单名称在2-8个字符之间';
                }
            },
            url: [/\S+\/\S+$/, 'url格式不对'],
            sort: [/[0-9]+$/, '序号必须是数字'],
        });

        //监听提交
        form.on('submit(add)', function(data) {
            console.log(data);
            //发异步，把数据提交给php
            // $.post("{:U('add')}", data.field, function(res) {
            //     showmsg(res)
            //     setTimeout(() => {
            //         // 获得frame索引
            //         var index = parent.layer.getFrameIndex(window.name);
            //         //关闭当前frame
            //         parent.layer.close(index);
            //     }, 2000)
            // })
            return false;
        });


    });
    </script>
</body>

</html>