<include file="Public/base" />

<body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    用户名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" required="" lay-verify="username" readonly="readonly" autocomplete="off" class="layui-input" value="{:I('username')}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="password" name="password" required="" lay-verify="password" autocomplete="off" class="layui-input">
                    <input type="text" name="uid" value="{:I('uid')}" hidden="hidden">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    5-18个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="repassword" name="repassword" required="" lay-verify="repassword" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确定
                </button>
            </div>
        </form>
    </div>
    <script>
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            password: [/\S{5,18}$/, '密码长度在5-18个字符之间']
            ,repassword: function(value){
                if($('#password').val()!=$('#repassword').val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function(data) {
            console.log(data);
            // 发异步，把数据提交给php
            $.post("{:U('editpassword')}", data.field, function(res) {
                showmsg(res)
                setTimeout(() => {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                }, 2000)
            })
            return false;
        });


    });
    </script>
</body>

</html>