<include file="Public/base" />

<body>
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
             <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>所属供应商
                </label>
                <div class="layui-input-inline">
                    <select name="supplier_id">
                        <notempty name="list" required="" lay-verify="supplier_id">
                            <volist name="list" id="vo">
                                <option value="{$vo.id}">{$vo.supplier}</option>
                            </volist>
                        </notempty>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>Gnss型号
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="model" required="" lay-verify="model" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    备注
                </label>
                <div class="layui-input-inline">
                    <textarea class="layui-textarea" name="remark" lay-verify="content"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确定
                </button>
            </div>
        </form>
    </div>
    <script>
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            supplier_id:[/\d+$/,'供应商不能为空'],
            model: function(value) {
                if (value.length < 1) {
                    return '型号不能为空';
                }
            },
        });

        //监听提交
        form.on('submit(add)', function(data) {
            console.log(data);
            // 发异步，把数据提交给php
            $.post("{:U('addmodel')}", data.field, function(res) {
                showmsg(res)
                setTimeout(() => {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                }, 2000)
            })
            return false;
        });


    });
    </script>
</body>

</html>